<ion-card *ngIf="product$">
  <img [src]="product$.image"/>
  <ion-card-header>
    <ion-card-title>{{product$.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      {{product$.description}}
      <form [formGroup]="cardFrom">
          <ion-list class="list">
              <ion-item>
                  <ion-label position="stacked">Price</ion-label>
                  <ion-input debounce="600" formControlName="amount" type="number">
                  </ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked">Quantity</ion-label>
                  <ion-input debounce="600" formControlName="quantity" type="number">
                  </ion-input>
              </ion-item>   
          </ion-list>
      </form>
  </ion-card-content>
</ion-card>
